@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.head-bg {
	background-color: #3A9BA5;
	height: 100vh;
}

.cloud-bunch {
	position: relative;
}

.cloud-1 {
	position: absolute;
	width: 50%;
	top: .5em;
	animation: cloud-1 2s ease-in-out infinite alternate;
}

.cloud-2 {
	position: absolute;
	width: 50%;
	right: 0;
	animation: cloud-2 2s ease-in-out infinite alternate;
}

.cloud-3 {
	position: absolute;
	width: 50%;
	left: 30%;
	top: 1em;
	animation: cloud-3 3s ease-in-out infinite alternate;
}

.cloud-b-1 {
	position: absolute;
	width: 25%;
	top: .8em;
	z-index: 3;
	animation: cloud-1 2s ease-in-out infinite alternate;
}

.cloud-b-2 {
	position: absolute;
	width: 25%;
	left: 15%;
	z-index: 4;
	animation: cloud-2 2s ease-in-out infinite alternate;
}

.cloud-b-3 {
	position: absolute;
	width: 25%;
	left: 30%;
	top: 1.5em;
	z-index: 6;
	animation: cloud-3 3s ease-in-out infinite alternate;
}

.cloud-b-4 {
	position: absolute;
	width: 25%;
	right: 34%;
	z-index: 5;
	animation: cloud-1 2s ease-in-out infinite alternate;
}

.cloud-b-5 {
	position: absolute;
	width: 25%;
	right: 17%;
	top: 1em;
	z-index: 2;
	animation: cloud-2 2s ease-in-out infinite alternate;
}

.cloud-b-6 {
	position: absolute;
	width: 25%;
	right: 0;
	z-index: 1;
	animation: cloud-3 3s ease-in-out infinite alternate;
}

.light-bunch {
	position: relative;
}

.light-1 {
	position: absolute;
	fill: yellow;
	width: 20%;
	top: .5em;
	animation: cloud-1 2s ease-in-out infinite alternate;
}

.light-2 {
	position: absolute;
	width: 20%;
	right: 0;
	animation: cloud-2 2s ease-in-out infinite alternate;
}

.light-3 {
	position: absolute;
	width: 20%;
	left: 30%;
	top: 1em;
	animation: cloud-3 3s ease-in-out infinite alternate;
}

.light-b-1 {
	position: absolute;
	width: 10%;
	top: .8em;
	z-index: 3;
	animation: cloud-1 2s ease-in-out infinite alternate;
}

.light-b-2 {
	position: absolute;
	width: 10%;
	left: 15%;
	z-index: 4;
	animation: cloud-2 2s ease-in-out infinite alternate;
}

.light-b-3 {
	position: absolute;
	width: 10%;
	left: 30%;
	top: 1.5em;
	z-index: 6;
	animation: cloud-3 3s ease-in-out infinite alternate;
}

.light-b-4 {
	position: absolute;
	width: 10%;
	right: 34%;
	z-index: 5;
	animation: cloud-1 2s ease-in-out infinite alternate;
}

.light-b-5 {
	position: absolute;
	width: 10%;
	right: 17%;
	top: 1em;
	z-index: 2;
	animation: cloud-2 2s ease-in-out infinite alternate;
}

.light-b-6 {
	position: absolute;
	width: 10%;
	right: 0;
	z-index: 1;
	animation: cloud-3 3s ease-in-out infinite alternate;
}

@keyframes cloud-1 {

	0% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(5px);
	}

}

@keyframes cloud-2 {

	0% {
		transform: translateX(5px);
	}

	100% {
		transform: translateX(0px);
	}

}

@keyframes cloud-3 {

	0% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(5px);
	}

}

@keyframes light-1 {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}




















