@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
	display: block;
	width: 100%;
}

.head-bg {
	position: relative;
	background-color: rgba(27, 74, 76, 1);
	height: 100vh;
	overflow: hidden;
	z-index: 1;
	transition: all 1000ms;
	-webkit-animation: back 2s ease-in-out infinite alternate;
	animation: back 2s ease-in-out infinite alternate;
}

.head-bg:hover {
	background-color: rgba(27, 74, 76, 1);
	-webkit-animation: solid infinite;
	animation: solid infinite;
}

.toggle {
	width: 3em;
	margin-left: 85%;
}

.nav {
	background-color: rgba(27, 74, 76, 1);
	width: 100%;
	float: right;
	max-height: 0;
  	overflow: hidden;
  	transition: all 400ms linear;
  	left: 0;
  	position: absolute;
  	z-index: 1000;
}

.js-nav-open {
  	max-height: 14em;
  	display: block;
}

.nav ul {
	padding: 0;
	margin: 0; 
} 

.nav li {
	background-color: rgba(0, 0, 0, .5);
 	text-decoration: none;
 	list-style: none;
}

.nav a {
	display: block;
	text-decoration: none;
  	color: white;
  	width: 100%;
  	padding: 1.5em;
}

.nav a:hover {
	background-color: rgba(255, 255, 255, .6);
	color: rgba(0, 0, 0, .8);
}

.cloud-bunch {
	position: relative;
}

.cloud-1 {
	position: absolute;
	width: 50%;
	top: .5em;
	z-index: 100;
	-webkit-animation: cloud-1 2s ease-in-out infinite alternate;
	animation: cloud-1 2s ease-in-out infinite alternate;
}

.cloud-2 {
	position: absolute;
	width: 50%;
	right: 0;
	z-index: 100;
	-webkit-animation: cloud-2 2s ease-in-out infinite alternate;
	animation: cloud-2 2s ease-in-out infinite alternate;
}

.cloud-3 {
	position: absolute;
	width: 50%;
	left: 30%;
	top: 1em;
	z-index: 100;
	-webkit-animation: cloud-3 3s ease-in-out infinite alternate;
	animation: cloud-3 3s ease-in-out infinite alternate;
}

.cloud-b-1 {
	position: absolute;
	width: 25%;
	top: .8em;
	z-index: 300;
	-webkit-animation: cloud-1 2s ease-in-out infinite alternate;
	animation: cloud-1 2s ease-in-out infinite alternate;
}

.cloud-b-2 {
	position: absolute;
	width: 25%;
	left: 15%;
	z-index: 400;
	-webkit-animation: cloud-2 2s ease-in-out infinite alternate;
	animation: cloud-2 2s ease-in-out infinite alternate;
}

.cloud-b-3 {
	position: absolute;
	width: 25%;
	left: 30%;
	top: 1.5em;
	z-index: 600;
	-webkit-animation: cloud-3 3s ease-in-out infinite alternate;
	animation: cloud-3 3s ease-in-out infinite alternate;
}

.cloud-b-4 {
	position: absolute;
	width: 25%;
	right: 34%;
	z-index: 500;
	-webkit-animation: cloud-1 2s ease-in-out infinite alternate;
	animation: cloud-1 2s ease-in-out infinite alternate;
}

.cloud-b-5 {
	position: absolute;
	width: 25%;
	right: 17%;
	top: 1em;
	z-index: 200;
	-webkit-animation: cloud-2 2s ease-in-out infinite alternate;
	animation: cloud-2 2s ease-in-out infinite alternate;
}

.cloud-b-6 {
	position: absolute;
	width: 25%;
	right: 0;
	z-index: 1;
	-webkit-animation: cloud-3 3s ease-in-out infinite alternate;
	animation: cloud-3 3s ease-in-out infinite alternate;
}

.light-bunch {
	position: relative;
}

.light-1 {
	position: absolute;
	width: 15%;
	top: 1em;
	left: 12%;
	z-index: 50;
	-webkit-animation: light-1 2s ease-in-out infinite alternate;
	animation: light-1 2s ease-in-out infinite alternate;
}

.light-2 {
	position: absolute;
	width: 14%;
	right: 10%;
	top: .5em;
	z-index: 30;
	-webkit-animation: light-2 2s ease-in-out infinite alternate;
	animation: light-2 2s ease-in-out infinite alternate;
}

.light-3 {
	position: absolute;
	width: 14%;
	left: 50%;
	top: 2em;
	-webkit-animation: light-3 2s ease-in-out infinite alternate;
	animation: light-3 2s ease-in-out infinite alternate;
}

.light-b-1 {
	position: absolute;
	width: 8%;
	top: 2.3em;
	left: 7%;
	-webkit-animation: light-1 2s ease-in-out infinite alternate;
	animation: light-1 2s ease-in-out infinite alternate;
}

.light-b-2 {
	position: absolute;
	width: 8%;
	top: 1em;
	left: 25%;
	z-index: 4;
	-webkit-animation: light-2 2s ease-in-out infinite alternate;
	animation: light-2 2s ease-in-out infinite alternate;
}

.light-b-3 {
	position: absolute;
	width: 8%;
	left: 38%;
	top: 2.5em;
	-webkit-animation: light-3 3s ease-in-out infinite alternate;
	animation: light-3 3s ease-in-out infinite alternate;
}

.light-b-4 {
	position: absolute;
	width: 8%;
	top: 1.5em;
	right: 44%;
	z-index: 5;
	-webkit-animation: light-1 2s ease-in-out infinite alternate;
	animation: light-1 2s ease-in-out infinite alternate;
}

.light-b-5 {
	position: absolute;
	width: 8%;
	right: 24%;
	top: 1.8em;
	-webkit-animation: light-2 2s ease-in-out infinite alternate;
	animation: light-2 2s ease-in-out infinite alternate;
}

.light-b-6 {
	position: absolute;
	width: 8%;
	top: 1em;
	right: 8%;
	-webkit-animation: light-3 3s ease-in-out infinite alternate;
	animation: light-3 3s ease-in-out infinite alternate;
}

.title {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 30%;
	width: 80%;
    -webkit-animation: title-light 2s ease-in-out infinite alternate;
    animation: title-light 2s ease-in-out infinite alternate;
}

.rain {
	position: absolute;
	top: 7.5em;
	left: 2em;
	right: 2em;
	height: 100vh;
	background-image: url(../img/rain.svg);
	-webkit-animation: rain 1s ease-in-out infinite alternate;
	animation: rain 1s ease-in-out infinite alternate;
}

.earth {
	position: absolute;
	left: -10%;
	bottom: -5em;
	height: 220px;
	width: 120%;
	background-image: url(../img/earth.svg);
	background-repeat: repeat-x;
	z-index: 100;
	-webkit-transform: rotate(-3deg);
  	transition: all 500ms linear;
  	-webkit-transform-origin: bottom center;
}

.earth:hover {
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
}

.arrow {
	background-image: url("../img/arrow.svg");
	background-repeat: no-repeat;
	position: absolute;
   	left: 50%;
   	bottom: 2em;
   	width: 4em;
   	height: 2em;
   	margin-left: -2em;
   	z-index: 1000;
   	-webkit-transform: translateY(-10px);
  	transition: all 1s linear;
  	-webkit-transform-origin: bottom center;
}

.arrow:hover {
	-webkit-transform: translateY(10px);
	transform: translateY(15px);
}

.house-bg {
	background-color: rgba(27, 74, 76, .1);
	height: 100vh;
	overflow: hidden;
}

.house-good {
	width: 70%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	opacity: 1;
	transition: all 2s linear;
}

.js-house-good {
	opacity: 0;
}

.house-bad {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	opacity: 0;
	transition: all 2s linear;
}

.js-house-bad {
	opacity: 1;
}

.houses {
	padding-top: 3em;
	position: relative;
	height: 20em;
	overflow: hidden;
}

.buttons {
	text-align: center;
	margin-top: 4em;
	background-color: rgba(27, 74, 76, 1);
	position: relative;
}

.tornado {
	border: none;
	color: white;
	background-color: rgba(27, 74, 76, 1);
	padding: .5em;
	margin: 0 .5em;
	font: normal 100%/1.5 'Special Elite',sans-serif;
}

.tornado:hover {
	background-color: rgba(255, 255, 255, .8);
	color: rgba(27, 74, 76, 1);
}

.wave {
	border: none;
	background-color: rgba(27, 74, 76, 1);
	color: white;
	padding: .5em;
	margin: 0 .5em;
	font: normal 100%/1.5 'Special Elite',sans-serif;
}

.wave:hover {
	background-color: rgba(255, 255, 255, .8);
	color: rgba(27, 74, 76, 1);
}

.snow {
	border: none;
	background-color: rgba(27, 74, 76, 1);
	color: white;
	padding: .5em;
	margin: 0 .5em;
	font: normal 100%/1.5 'Special Elite',sans-serif;
}

.snow:hover {
	background-color: rgba(255, 255, 255, .8);
	color: rgba(27, 74, 76, 1);
}

.pictornado{
	width: 60%;
	position: absolute;
	left: -20em;
	z-index: 500;
}

.js-tornado-in {
	-webkit-animation:  tornado-in 4s linear;
	animation:  tornado-in 4s linear;
}

.picwave{
	width: 200%;
	position: absolute;
	left: -40em;
	z-index: 1;
}

.js-wave-in {
	-webkit-animation:  wave-in 4s linear;
	animation:  wave-in 4s linear;
}

.picsnow {
	width: 140%;
	position: absolute;
	left: -5em;
	top: -35em;
}

.snowpile {
	width: 100%;
	position: absolute;
	bottom: -4em;
	transition: all 4s linear;
}

.js-snowpile-in {
	bottom: 0em;
	width: 170%;
}

.js-snow-in {
	-webkit-animation:  snow-in 4s linear;
	animation:  snow-in 4s linear;
}

#hurricane {
	-webkit-animation: hurricane-in 1s linear alternate infinite;
	animation: hurricane-in 1s linear alternate infinite;
}

.up-arrow {
	background-image: url("../img/up-arrow.svg");
	background-repeat: no-repeat;
	position: absolute;
   	left: 50%;
   	top: 3em;
   	width: 4em;
   	height: 4em;
   	margin-left: -2em;
   	z-index: 1000;
}

@-webkit-keyframes solid {

	0% {
		background-color: rgba(27, 74, 76, 1);
	}

	100% {
		background-color: rgba(27, 74, 76, 1);
	}

}

@-webkit-keyframes rain {

	0% {
		-webkit-transform: translateY(5px);
		opacity: .8;
	}

	100% {
		-webkit-transform: translateY(0px);
		opacity: .2;
	}

}

@-webkit-keyframes cloud-1 {

	0% {
		-webkit-transform: translateX(0px);
	}

	100% {
		-webkit-transform: translateX(5px);
	}

}

@-webkit-keyframes cloud-2 {

	0% {
		-webkit-transform: translateX(5px);
	}

	100% {
		-webkit-transform: translateX(0px);
	}

}

@-webkit-keyframes cloud-3 {

	0% {
		-webkit-transform: translateX(0px);
	}

	100% {
		-webkit-transform: translateX(5px);
	}

}

@-webkit-keyframes light-1 {

	0% {
		-webkit-transform: translateX(0px);
		opacity: 1;
	}

	15% {
		opacity: .4;
	}

	30% {
		opacity: 0;
	}

	45% {
		opacity: .2;
	}

	60% {
		opacity: 0;
	}

	75% {
		opacity: .8;
	}

	100% {
		-webkit-transform: translateX(5px);
		opacity: 0;
	}

}

@-webkit-keyframes light-2 {

	0% {
		-webkit-transform: translateX(5px);
		opacity: 1;
	}

	15% {
		opacity: .4;
	}

	30% {
		opacity: 0;
	}

	45% {
		opacity: .2;
	}

	60% {
		opacity: 0;
	}

	75% {
		opacity: .8;
	}

	100% {
		-webkit-transform: translateX(0px);
		opacity: 0;
	}

}

@-webkit-keyframes light-3 {

	0% {
		-webkit-transform: translateX(0px);
		opacity: 1;
	}

	15% {
		opacity: .4;
	}

	30% {
		opacity: 0;
	}

	45% {
		opacity: .2;
	}

	60% {
		opacity: 0;
	}

	75% {
		opacity: .8;
	}

	100% {
		-webkit-transform: translateX(5px);
		opacity: 0;
	}

}

@-webkit-keyframes title-light {

	0% {
		opacity: 1;
	}

	15% {
		opacity: .4;
	}

	30% {
		opacity: .2;
	}

	45% {
		opacity: .4;
	}

	60% {
		opacity: .2;
	}

	75% {
		opacity: .8;
	}

	100% {
		opacity: .2;
	}

}

@-webkit-keyframes tornado-in {

	0% {
		left: 0; top: 2em;
	}

	10% {
		left: 20%; top: 5em;
	}

	20% {
		left: 10%; top: 4em;
	}

	30% {
		left: 30%; top: 3em;
	}

	40% {
		left: 20%; top: 5em;
	}

	50% {
		left: 40%; top: 4em;
	}

	60% {
		left: 50%; top: 5em;
	}

	70% {
		left: 60%; top: 5em;
	}

	80% {
		left: 80%; top: 4em;
	}

	90% {
		left: 70%; top: 3em;
	}

	100% {
		left: 100%; top: 2em;
	}
}

@-webkit-keyframes wave-in {

	0% {
		left: -200%; top: 8em;
	}

	40% {
		transform: scale(1,1.6);
		left: 0; top: 3em;
	}

	100% {
		left: 100%; top: 8em;
	}

}

@-webkit-keyframes snow-in {

	0% {
		opacity: 0;
		left: -5%; top: -45%;
	}

	10% {
		opacity: .4;
		left: -10%; top: -40%;
	}

	20% {
		opacity: 1;
		left: -5%; top: -45%;
	}

	30% {
		opacity: .4;
		left: -10%; top: -40%;
	}

	40% {
		opacity: 1;
		left: -5%; top: -45%;
	}

	50% {
		opacity: .4;
		left: -10%; top: -40%;
	}

	60% {
		opacity: 1;
		left: -5%; top: -45%;
	}

	70% {
		opacity: .4;
		left: -10%; top: -40%;
	}

	80% {
		opacity: 1;
		left: -5%; top: -45%;
	}

	90% {
		opacity: .4;
		left: -10%; top: -40%;
	}

	100% {
		opacity: 0;
		left: -5%; top: -45%;
	}
}


@-webkit-keyframes hurricane-in {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(-100px);
  }
}




@keyframes back {

	0% {
		background-color: rgba(27, 74, 76, .4);
	}

	15% {
		background-color: rgba(27, 74, 76, .8);
	}

	30% {
		background-color: rgba(27, 74, 76, 1);
	}

	45% {
		background-color: rgba(27, 74, 76, .8);
	}

	60% {
		background-color: rgba(27, 74, 76, 1);
	}

	75% {
		background-color: rgba(27, 74, 76, .4);
	}

	100% {
		background-color: rgba(27, 74, 76, 1);
	}

}

@keyframes solid {

	0% {
		background-color: rgba(27, 74, 76, 1);
	}

	100% {
		background-color: rgba(27, 74, 76, 1);
	}

}

@keyframes rain {

	0% {
		transform: translateY(5px);
		opacity: .8;
	}

	100% {
		transform: translateY(0px);
		opacity: .2;
	}

}

@keyframes cloud-1 {

	0% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(5px);
	}

}

@keyframes cloud-2 {

	0% {
		transform: translateX(5px);
	}

	100% {
		transform: translateX(0px);
	}

}

@keyframes cloud-3 {

	0% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(5px);
	}

}

@keyframes light-1 {

	0% {
		transform: translateX(0px);
		opacity: 1;
	}

	15% {
		opacity: .4;
	}

	30% {
		opacity: 0;
	}

	45% {
		opacity: .2;
	}

	60% {
		opacity: 0;
	}

	75% {
		opacity: .8;
	}

	100% {
		transform: translateX(5px);
		opacity: 0;
	}

}

@keyframes light-2 {

	0% {
		transform: translateX(5px);
		opacity: 1;
	}

	15% {
		opacity: .4;
	}

	30% {
		opacity: 0;
	}

	45% {
		opacity: .2;
	}

	60% {
		opacity: 0;
	}

	75% {
		opacity: .8;
	}

	100% {
		transform: translateX(0px);
		opacity: 0;
	}

}

@keyframes light-3 {

	0% {
		transform: translateX(0px);
		opacity: 1;
	}

	15% {
		opacity: .4;
	}

	30% {
		opacity: 0;
	}

	45% {
		opacity: .2;
	}

	60% {
		opacity: 0;
	}

	75% {
		opacity: .8;
	}

	100% {
		transform: translateX(5px);
		opacity: 0;
	}

}

@keyframes title-light {

	0% {
		opacity: 1;
	}

	15% {
		opacity: .4;
	}

	30% {
		opacity: 0;
	}

	45% {
		opacity: .2;
	}

	60% {
		opacity: 0;
	}

	75% {
		opacity: .8;
	}

	100% {
		opacity: 0;
	}

}

@keyframes tornado-in {

	0% {
		left: 0; top: 2em;
	}

	10% {
		left: 20%; top: 5em;
	}

	20% {
		left: 10%; top: 4em;
	}

	30% {
		left: 30%; top: 3em;
	}

	40% {
		left: 20%; top: 5em;
	}

	50% {
		left: 40%; top: 4em;
	}

	60% {
		left: 50%; top: 5em;
	}

	70% {
		left: 60%; top: 5em;
	}

	80% {
		left: 80%; top: 4em;
	}

	90% {
		left: 70%; top: 3em;
	}

	100% {
		left: 100%; top: 2em;
	}

}

@keyframes wave-in {

	0% {
		left: -200%; top: 8em;
	}

	40% {
		transform: scale(1,1.6);
		left: 0; top: 3em;
	}

	100% {
		left: 100%; top: 8em;
	}

}

@keyframes snow-in {

	0% {
		opacity: 0;
		left: -5%; top: -45%;
	}

	10% {
		opacity: .4;
		left: -10%; top: -40%;
	}

	20% {
		opacity: 1;
		left: -5%; top: -45%;
	}

	30% {
		opacity: .4;
		left: -10%; top: -40%;
	}

	40% {
		opacity: 1;
		left: -5%; top: -45%;
	}

	50% {
		opacity: .4;
		left: -10%; top: -40%;
	}

	60% {
		opacity: 1;
		left: -5%; top: -45%;
	}

	70% {
		opacity: .4;
		left: -10%; top: -40%;
	}

	80% {
		opacity: 1;
		left: -5%; top: -45%;
	}

	90% {
		opacity: .4;
		left: -10%; top: -40%;
	}

	100% {
		opacity: 0;
		left: -5%; top: -45%;
	}

}

@keyframes hurricane-in {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(-100px);
  }
}



@media only screen and (min-width: 25em) {
	
	.rain {
		top: 9.5em;
		left: 2.8em;
	}

	.title {
		top: 35%;
		width: 60%;
	}

	.earth {
		height: 250px;
	}

	.houses {
		padding-top: 0; 
		height: 30em;
	}

	.house-good {
		width: 65%;
	}

	.house-bad {
		width: 65%;
	}

	.pictornado {
		width: 55%;
	}

	.picwave{
		left: -65em;
	}

	.picsnow {
		left: -10em;
		top: -60em;
	}	

	.snowpile {
		bottom: -7em;
	}

	.js-snowpile-in {
		bottom: 0em;
	}

}

@media only screen and (min-width: 38em) {

	.rain {
		top: 3.5em;
	}

	.earth {
		height: 220px;
	}

	.houses {
		height: 30em;
	}

	.house-good {
		width: 40%;
	}

	.house-bad {
		width: 40%;
	}

	.pictornado {
		width: 30%;
	}

	.picwave{
		width: 140%;
		left: -95em;
	}

	.picsnow {
		left: -10em;
		top: -100em;
	}	

	.snowpile {
		bottom: -10em;
	}

	.js-snowpile-in {
		width: 120%;		
		bottom: -2em;
	}

}

@media only screen and (min-width: 60em) {


	.title {
		width: 50%;
	}

	.rain {
		top: 4.5em;
	}

	.houses {
		height: 30em;
	}

	.house-good {
		width: 30%;
	}

	.house-bad {
		width: 30%;
	}

	.pictornado {
		width: 25%;
	}

	.picwave{
		width: 110%;
		left: -95em;
	}

	.picsnow {
		left: -10em;
		top: -130em;
	}	

	.snowpile {
		bottom: -15em;
		left: -3em;
	}

	.js-snowpile-in {
		width: 120%;
		bottom: -5em;
	}

}